.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  top: 460px;
  left: 10px;
  z-index: 2;
}

.speech {
  font-size: 25px;
  position: absolute;
  top: 500px;
  left: 25px;
  z-index: 3;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 70%;
  left: 300px;
}